#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#main section {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Filtros */
.filtros-container {
    width: 100%;
}

.filtros-container.ativo .filtro-form {
    /* margin-bottom: 50px; */

    visibility: visible;
    opacity: 1;
}
.filtros-container.ativo .form-dash {
    height: 150px;
}
.filtros-container.ativo .form-notas {
    height: 350px;
}

.filtro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 0rem;
    right: 0rem;

    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}

/* Botão filtros */
.botao-filtro {
    color: var(--branco-0-cor);
    background-color: var(--preto-0-cor);

    border: none;
    border-radius: 4px;

    width: 100%;
    max-width: 280px;
    height: 40px;

    font-size: var(--fonte-16);

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 9.7px;

    transition: 0.6s;

    &:focus {
        outline: 0;
    }
}

.botao-filtro.ativo {
    color: var(--preto-0-cor);
    background-color: var(--branco-0-cor);

    border: 2px solid var(--preto-0-cor);
}
#svg-filtro {
    width: 17px;
}

/* Formulário filtros */
.filtros-container.ativo .filtro-form {
    select {
        width: 280px;
    }
    width: 100%;

    margin-bottom: 50px;

    visibility: visible;
    opacity: 1;
}
.filtro-form {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;

    height: 0rem;
    right: 0rem;

    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}
.filtro-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../assets/icones/select-abre.svg) no-repeat center right
        24px;

    font-size: var(--fonte-16);

    padding: 10px 0 10px 24px;

    max-width: 280px;

    border: 1px solid var(--preto-0-cor);
    border-radius: 4px;

    &:focus {
        outline: 0;
    }
}

.filtro-form select.fecha-select {
    background: url(../assets/icones/select-fecha.svg) no-repeat center right
        24px;
}

@media (min-width: 768px) {
    .filtro-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filtros-container.ativo .form-dash {
        height: auto;
    }
    .filtros-container.ativo .form-notas {
        height: auto;
    }
}
