#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#main section {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Filtros */
.filtros-container {
    width: 100%;
}

.filtros-container.ativo .filtro-form {
    height: 176px;

    margin-bottom: 50px;

    visibility: visible;
    opacity: 1;
}

.filtro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 0rem;
    right: 0rem;

    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}

/* Botão filtros */
.botao-filtro {
    color: var(--branco-0-cor);
    background-color: var(--preto-0-cor);

    border: none;
    border-radius: 4px;

    width: 100%;
    max-width: 280px;
    height: 40px;

    font-size: var(--fonte-16);

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 9.7px;

    transition: 0.6s;

    &:focus {
        outline: 0;
    }
}

.botao-filtro.ativo {
    color: var(--preto-0-cor);
    background-color: var(--branco-0-cor);

    border: 2px solid var(--preto-0-cor);
}
#svg-filtro {
    width: 17px;
}

/* Formulário filtros */
.filtros-container.ativo .filtro-form {
    width: 100%;
    max-width: 280px;

    margin-bottom: 50px;

    visibility: visible;
    opacity: 1;
}
.filtro-form {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;

    height: 0rem;
    right: 0rem;

    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}
.filtro-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../assets/icones/select-abre.svg) no-repeat center right
        24px;
    font-size: 15px;
    padding-right: 20px;

    padding: 10px 0;
    padding-left: 24px;
    width: 260px;

    border: 1px solid var(--preto-0-cor);
    border-radius: 4px;
}

.filtro-form select.fecha-select {
    background: url(../assets/icones/select-fecha.svg) no-repeat center right
        30.26px;
}
